[Unit]
Description=Notebook blog server

[Service]
PIDFile=/var/run/notebook.pid
ExecStart=/opt/notebook/build/notebook serve \
	--production \
    --html.dir=/opt/notebook/public_html \
	--domains=www.example.com,example.com \
	--admin.email='admin@example.com'
Restart=on-abort

[Install]
WantedBy=multi-user.target

