<!DOCTYPE html>
<html lang="en">


{{template "head" .}}


<body>
<div id="root">
    <!-- ------------- menu ------------- -->
        {{template "menu" .}}
    <!-- ------------- ****** ------------- -->


    <div class="row" id="doc-wrapper">
        <main class="col-sm-12 col-md-12 col-lg-12">
    <!-- ------------- error ------------- -->
        <div class="section" style="text-align: center;">
			<div class="row">
				<!-- HTTP status code and error message are substituted later -->
				<h1>Error: PlaceholderStatusCode</h1>
				<h3>PlaceholderErrorMessage</h3>
			</div>
			<div class="row">
				<img src="/assets/error.jpg"/>
			</div>
        </div>
    <!-- ------------- ******* ------------- -->


    <!-- ------------- footer ------------- -->
    {{template "footer" .}}
    <!-- ------------- ****** ------------- -->
        </main>
    </div><!-- id="doc-wrapper" -->
</div><!-- id="root" -->


{{template "script" .}}


</body>
</html>
