<!DOCTYPE html>
<html lang="en">


{{template "head" .}}


<body>
<div id="root">
    <!-- ------------- menu ------------- -->
        {{template "menu" .}}
    <!-- ------------- ****** ------------- -->


    <div class="row" id="doc-wrapper">
        <main class="col-sm-12 col-md-12 col-lg-6 col-lg-offset-3">
            <div id="summary">
            {{range $index, $article := .}}
                {{template "articleSummary" .}}
            {{end}}
            <div><!-- id="summary" -->


    <!-- ------------- footer ------------- -->
    {{template "footer" .}}
    <!-- ------------- ****** ------------- -->
        </main>
    </div><!-- id="doc-wrapper" -->
</div><!-- id="root" -->


{{template "script" .}}


</body>
</html>
