<!DOCTYPE html>
<html lang="en">


{{template "head" .}}


<body>
<div id="root">
    <!-- ------------- menu ------------- -->
        {{template "menu" .}}
    <!-- ------------- ****** ------------- -->


    <div class="row" id="doc-wrapper">
        <main class="col-sm-12 col-md-12 col-lg-12">
    <!-- ------------- article ------------- -->
            {{template "article" .}}
    <!-- ------------- ******* ------------- -->


    <!-- ------------- footer ------------- -->
    {{template "footer" .}}
    <!-- ------------- ****** ------------- -->
        </main>
    </div><!-- id="doc-wrapper" -->
</div><!-- id="root" -->


{{template "script" .}}


</body>
</html>
